*                                   @nsylke
/LICENSE                            @tjrgg
/.github                            @nsylke @tjrgg
/.github/SECURITY.md                @nsylke
/apps/marketing/src/content/legal   @tjrgg
/apps/marketing/src/content         @nsylke @tjrgg