*                                                       @nsylke
/LICENSE                                                @tjrgg
/.github                                                @nsylke @tjrgg
/.github/SECURITY.md                                    @nsylke
/apps/trpkit.com/src/keystatic/content                  @nsylke @tjrgg
/apps/trpkit.com/src/keystatic/content/legal-resources  @tjrgg